<div class="login-reg-panel">
	<div class="login-info-box" [ngClass]="{'show-info': panel === 'register'}">
		<h2>Have an account?</h2>
		<p>Lorem ipsum dolor sit amet</p>
		<label id="label-register" for="log-reg-show" (click)="switchPanel('login')">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
    </div>
    <div class="login-info-box" [ngClass]="{'show-info': panel === 'forgetPassword'}">
        <h2>Have an account?</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <label id="label-forgetPassword" for="log-forgetPassword-show" (click)="switchPanel('login')">Login</label>
          <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
        </div>
							
		<div class="register-info-box" [ngClass]="{'show-info': panel === 'login'}">
			<h2>Don't have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-login" for="log-login-show" (click)="switchPanel('register')">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show" [ngClass]="{'show-log-panel': panel === 'login'}">
				<h2>LOGIN</h2>
        <form #loginForm="ngForm" (ngSubmit)="login($event, loginForm)" >
          <div class="form-group">
            <input type="text" [placeholder]="email" [(ngModel)]="loginFormData.username" name="username" required autocomplete="false" />
            <span class="text-error" *ngIf="loginForm.submitted && !loginFormData.username">Required !!!</span>
            <span class="text-error" *ngIf="loginForm.submitted && loginFormData.username && !validateEmail(loginFormData.username)">Invalid Email !!!</span>
          </div>
          <div class="form-group">
            <input type="password" [placeholder]="password" [(ngModel)]="loginFormData.password" name="password" maxlength="10" minlength="5" required />
            <span class="text-error" *ngIf="loginForm.submitted && !loginFormData.password">Required !!!</span>
            <span class="text-error" *ngIf="loginForm.submitted && loginForm.form.controls.password.errors && loginForm.form.controls.password.errors.minlength">Minimum length should be {{loginForm.form.controls.password.errors.minlength.requiredLength}} !!!</span>
            <span class="text-error" *ngIf="loginForm.submitted && loginForm.form.controls.password.errors && loginForm.form.controls.password.errors.maxlength">Maximum length length should be {{loginForm.form.controls.password.errors.maxlength.requiredLength}} !!!</span>
          </div>
				
				<input type="submit" value="Login">
        <label id="label-fogetpassword" for="log-fogetpassword-show" (click)="switchPanel('forgetPassword')">Forgot password?</label>

        </form>
			</div>
			<div class="register-show" [ngClass]="{'show-log-panel': panel === 'register'}">
				<h2>REGISTER</h2>
				<form #registerForm="ngForm" (submit)="register($event, registerForm)">
          <div class="form-group">
            <input type="text" [placeholder]="'Name'" [(ngModel)]="registerFormData.name" name="name" required />
            <span class="text-error" *ngIf="registerForm.submitted && registerForm.form.controls.name.errors && registerForm.form.controls.name.errors.required">Required !!!</span>
        </div>
          <div class="form-group">
              <input type="text" [placeholder]="email" [(ngModel)]="registerFormData.email" name="email" required />
              <span class="text-error" *ngIf="registerForm.submitted && registerForm.form.controls.email.errors && registerForm.form.controls.email.errors.required">Required !!!</span>
              <span class="text-error" *ngIf="registerForm.submitted && registerFormData.email && !validateEmail(registerFormData.email)">Invalid Email !!!</span>
          </div>
          <div class="form-group">
            <input type="password" [placeholder]="password" [(ngModel)]="registerFormData.password" name="password" required minlength="4" maxlength="10" />
            <span class="text-error" *ngIf="registerForm.submitted && registerForm.form.controls.password.errors && registerForm.form.controls.password.errors.required">Required !!!</span>
            <span class="text-error" *ngIf="registerForm.submitted && registerForm.form.controls.password.errors && !registerForm.form.controls.password.errors.required">
              minlength should be {{registerForm.form.controls.password.errors.minlength.requiredLength}}
            </span>
          </div>
          <div class="form-group">
            <input type="password" [placeholder]="'Confirm Password'" [(ngModel)]="registerFormData.confirm_password" name="confirm_password" required />
            <span class="text-error" *ngIf="registerForm.submitted && registerForm.form.controls.confirm_password.errors && registerForm.form.controls.confirm_password.errors.required ">Required !!!</span>
            <span class="text-error" *ngIf="registerForm.submitted && registerFormData.confirm_password && registerFormData.password != registerFormData.confirm_password">Not matching with password</span>
          </div>
          <input type="submit" value="Register" />
        </form>
      </div>
      <div class="forget-password" [ngClass]="{'show-forget-password': panel === 'forgetPassword'}">
        <h2>Forget Password</h2>
        <form #forgetpasswordFormEmail="ngForm" (submit)="forgetpasswordEmail($event, forgetpasswordFormEmail)">
            <div class="form-group">
                <input type="text" [placeholder]="email" [(ngModel)]="forgetpasswordFormEmail.usernameforgetpassword" name="usernameforgetpassword" required />
                <span class="text-error" *ngIf="forgetpasswordFormEmail.submitted && forgetpasswordFormEmail.form.controls.usernameforgetpassword.errors && forgetpasswordFormEmail.form.controls.usernameforgetpassword.errors.required">Required !!!</span>
                <span class="text-error" *ngIf="forgetpasswordFormEmail.submitted && forgetpasswordFormEmail.usernameforgetpassword && !validateEmail(forgetpasswordFormEmail.usernameforgetpassword)">Invalid Email !!!</span>
            </div>
            <input type="submit" value="Check" class="check-email-btn"/>
          </form>
          <form *ngIf="forgetpasswordFormEmail.submitted && validateEmail(forgetpasswordFormEmail.usernameforgetpassword)" #forgetpasswordFormPC="ngForm" (submit)="forgetpasswordPC($event, forgetpasswordFormPC)">
            <div class="form-group">
              <input type="password" [placeholder]="newpassword" [(ngModel)]="forgetpasswordFormPC.newpassword" name="newpassword" required minlength="4" maxlength="10" />
              <span class="text-error" *ngIf="forgetpasswordFormPC.submitted && forgetpasswordFormPC.form.controls.newpassword.errors && forgetpasswordFormPC.form.controls.newpassword.errors.required">Required !!!</span>
              <span class="text-error" *ngIf="forgetpasswordFormPC.submitted && forgetpasswordFormPC.form.controls.newpassword.errors && !forgetpasswordFormPC.form.controls.newpassword.errors.required">
                minlength should be {{forgetpasswordFormPC.form.controls.newpassword.errors.minlength.requiredLength}}
              </span>
            </div>
            <div class="form-group">
              <input type="password" [placeholder]="'Confirm Password'" [(ngModel)]="forgetpasswordFormPC.confirm_password" name="confirm_password" required />
              <span class="text-error" *ngIf="forgetpasswordFormPC.submitted && forgetpasswordFormPC.form.controls.confirm_password.errors && forgetpasswordFormPC.form.controls.confirm_password.errors.required ">Required !!!</span>
              <span class="text-error" *ngIf="forgetpasswordFormPC.submitted && forgetpasswordFormPC.confirm_password && forgetpasswordFormPC.newpassword != forgetpasswordFormPC.confirm_password">Not matching with password</span>
            </div>
            <input type="submit" value="Submit" />
          </form>
      </div>
		</div>
	</div>